.header {
	max-width: 100%;
	padding: 11rem 0 0 0;
	position: relative;
	height: 90vh;

	// &__slides {

	
	// }

	&__hero {
	width: 100%;
	height: 90vh;
	opacity: 0;

	position: absolute;
	top: 0;
	left: 0;

	background-size: cover;
	background-position: center;

	// border-bottom: 1.5rem solid var(--color-secondary);
	}

	&__prev,
	&__next {
		z-index: 5;
		position:absolute;
		font-size: 10rem;
		color: rgba(250, 250, 250, 0.3);
		top: 40%;
		transition: color .5s;
	}

	&__prev {
		left: 1%;
	}

	&__next {
		right: 1%;
	}

	&__prev:hover,
	&__next:hover {
		color: rgba(250, 250, 250, 0.8);
		cursor: pointer;
	}
	
	&__hero--1 {
		background-image:linear-gradient(
						to right bottom,
						rgba(#000, 0.3),
						rgba(#000, 0.3)),
						// rgba(#283593, 0.3),
						// rgba(#212c7a, 0.8)),
						url("../assets/img/Index/index-hero-1.jpg");
	}

	&__hero--2 {
		background-image:linear-gradient(
						to right bottom,
						
						rgba(#000, 0.3),
						rgba(#000, 0.3)),
						// rgba(#283593, 0.3),
						// rgba(#212c7a, 0.8)),
						url("../assets/img/Index/index-hero-2.jpg");
	}

	&__hero--3 {
		background-image:linear-gradient(
						to right bottom,
						rgba(#000, 0.3),
						rgba(#000, 0.3)),
						// rgba(#283593, 0.3),
						// rgba(#212c7a, 0.8)),
						url("../assets/img/Index/index-hero-3.jpg");
	}

	// &__overlay {
	// 	background-color: #000; 
	// }
	
	


	&__showcase-text {
		position: absolute;
		top: 20%;
		left: 50%;
		transform: translate(-50%, 20%);
		text-align: center;
		padding: 2rem;
	}


	&__button {
		top: -10%;
	}


	/////RESIDENCES HEADER STYLE/////

	&-residence {
		background-image:linear-gradient(
					to right bottom,
					rgba(#000, 0.3),
					rgba(#000, 0.3)),
					// rgba(#283593, 0.3),
					// rgba(#212c7a, 0.8)),
					url("../assets/img/vine_amenities-1.jpg");
		background-size: cover;
		background-position: bottom right;
		border-bottom: 1rem solid var(--color-secondary);
		width: 100%;
		height: 75vh;
		position: relative;
	}

	&__logo {
		position: absolute;
		@include position-center;
	}


	
	//////SECONDARY HEADER STYLE////
	
  &__text-box {
		@include position-center;
		text-align: center;
	}


	&__secondary {
		max-width: 100%;
		// padding: 11rem 0 0 0;
		position: relative;

		&--box {
			position: absolute;
			@include position-center;
		}

		&--about {
			background-image:linear-gradient(
						to right bottom,
						rgba(#000, 0.3),
						rgba(#000, 0.3)),
						// rgba(#283593, 0.3),
						// rgba(#212c7a, 0.8)),
						url("../assets/img/about/about-hero.jpg");
			background-size: cover;
			background-position: center;
			
			@include hero-composition;
		}

		&--properties {
			background-image:linear-gradient(
						to right bottom,
						rgba(#000, 0.3),
						rgba(#000, 0.3)),
						// rgba(#283593, 0.3),
						// rgba(#212c7a, 0.8)),
						url("../assets/img/properties/properties-hero-1.jpg");
			background-size: cover;
			background-position: center;
			
			@include hero-composition;
		}

		&--buyers {
			background-image:linear-gradient(
						to right bottom,
						rgba(#000, 0.3),
						rgba(#000, 0.3)),
						// rgba(#283593, 0.3),
						// rgba(#212c7a, 0.8)),
						url("../assets/img/buyers-guide/buyers-guide-hero.jpg");
			background-size: cover;
			background-position: center;
			
			@include hero-composition;

			@media only screen and (max-width: $bp-medium-1){
				background-position: right;
			}
		}

		&--agents {
			background-image:linear-gradient(
						to right bottom,
						rgba(#000, 0.3),
						rgba(#000, 0.3)),
						// rgba(#283593, 0.3),
						// rgba(#212c7a, 0.8)),
						url("../assets/img/agent/agent-hero-1.jpg");
			background-size: cover;
			background-position: top;
			
			@include hero-composition;

			@media only screen and (max-width: $bp-medium-1){
				background-position: right;
			}
		}

		&--events {
			background-image:linear-gradient(
						to right bottom,
						rgba(#000, 0.3),
						rgba(#000, 0.3)),
						// rgba(#283593, 0.3),
						// rgba(#212c7a, 0.8)),
						url("../assets/img/event/events-hero-1.jpg");
			background-size: cover;
			background-position: center;
			
			@include hero-composition;
		}

		&--contact {
			background-image:linear-gradient(
					rgba(#000, 0.3),
					rgba(#000, 0.3)),
					// rgba(#283593, 0.3),
					// rgba(#212c7a, 0.8)),
						url("../assets/img/contact/contact-hero-1.jpg");
			background-size: cover;
			background-position: center;
			
			@include hero-composition;	
		}
	} 
}



.fade-in {
	opacity: 1;
	transition: opacity 3s;
}

.fade-out {
	opacity: 0;
	height: 0;
}

.fade-out-2 {
	opacity: 0;
}