//COLORS

:root {
	--color-primary: #283593;
	--color-primary-light: #5e67ec;
	--color-primary-dark: #212c7a;

	--color-secondary: #d5ad36;
	--color-secondary-light: #eac145;
	--color-secondary-dark: #d5ad01;

	--color-tertiary: #f1f1f1;
	--color-tertiary-light: #fdfdfd;
	--color-tertiary-dark: #e7e7e7;

	--color-white: #fff;

	--color-black: #333;


//SHADOWS

	--shadow-small: 0 .5rem 1rem rgba(0,0,0, 0.2);
	--shadow-medium: 0 1rem 2rem rgba(0,0,0, 0.2);

//PADDING

	--section-padding: 8rem 0;
}


//BORDER RADIUS

$border-radius: 5px;


//CLASSES





