.search {
	display: flex; 
	justify-content: center;
	align-items: center;
	position: relative;


	&__heading {
		display: none;
	}

	&__group {
		&:not(:last-child) {
			padding-right: 1rem;
		}
	}

	&__input {
		// color: var(--color-tertiary-dark);
		color: #666;
		width: 25rem;
		padding: 2rem 1rem;
		font-size: 1.7rem;
		border-radius: 3px;
		border: none;
		box-shadow: var(--shadow-small);
		transition: all .3s;

		&:focus {
			outline-color: var(--color-secondary-light);
		}
	}

	&__button {
		padding: 2.2rem 4rem;
	}
}