
* {
	padding: 0;
	margin: 0;
}

*,
::before,
::after {
	box-sizing: inherit;
}


html {
	box-sizing: border-box;
	font-size: 62.5%; //1rem = 10, 10px/16% which is the browser default
}


body {
	// font-size: 2rem;
	background-color: var( --color-tertiary);
	height: 100vh;
}

img {
	max-width: 100%;
}

a:link,
a:visited {
	text-decoration: none;
}

li {
	list-style: none;
}

.container {
	margin: 0 auto;
	width: 55%;
	padding: 8rem 0;
}

.container-small {
	margin: 0 auto;
	width: 40%;
	padding: 8rem 0;
}

.container-medium {
	margin: 0 auto;
	width: 70%;

	@media only screen and (max-width: $bp-medium-3){
		width: 50%;
	}
}

.container-full {
	width: 100%;
	padding: 8rem 0;
}

